<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>
  <body>
    <div class="content">
      <a class="pb_btn" href="/add">发表内容</a>
      <div class="list">
        <ul>
          <li>
            <img src="../static/images/timg.jpg" alt="" class="pic" />
            <div class="list_con">
              <div class="time">
                <strong>
                  <i>2018年12月2日 15:57:33</i>
                </strong>
                <img src="../static/images/lj.jpg" alt="" />
              </div>
              <p>
                <b>作者：</b>
                <span>小明</span>
              </p>
              <p>
                <b>标题：</b>
                <span>发如雪</span>
              </p>
              <p>
                <b>内容：</b>
                发表内容发表内容发表内容发表内容发表内容发表内容发表内容发表内容发表内容发表内容发表内容发表内容发表内容发表内容
              </p>
            </div>
          </li>
          <li>
            <img src="../static/images/timg.jpg" alt="" class="pic" />
            <div class="list_con">
              <div class="time">
                <strong>
                  <i>2018年12月2日 15:57:33</i>
                </strong>
                <img src="../static/images/lj.jpg" alt="" />
              </div>
              <p>
                <b>作者：</b>
                <span>小明</span>
              </p>
              <p>
                <b>标题：</b>
                <span>发如雪</span>
              </p>
              <p>
                <b>内容：</b>
                发表内容发表内容发表内容发表内容发表内容发表内容发表内容发表内容发表内容发表内容发表内容发表内容发表内容发表内容
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
