.index {
  .swiper {
    height: 212px;
  }

  .nav {
    padding: 10px 0;
    text-align: center;

    img {
      width: 48px;
    }

    p {
      margin-top: 7px;
      font-size: 13px;
    }
  }
}
